name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala: [2.13.14]
        java: [11, 17]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'sbt'

    - name: Compile
      run: sbt compile

    - name: Run tests
      run: sbt test

    - name: Check test coverage
      run: sbt coverage test coverageReport

  format:
    name: Code formatting
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
        cache: 'sbt'

    - name: Check formatting
      run: sbt scalafmtCheckAll
