name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala: [2.13.14]
        java: [11, 17]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Scala
      uses: olafurpg/setup-scala@v14
      with:
        java-version: ${{ matrix.java }}

    - name: Compile
      run: sbt compile

    - name: Run tests
      run: sbt test

  format:
    name: Code formatting
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Scala
      uses: olafurpg/setup-scala@v14
      with:
        java-version: '11'

    - name: Check formatting
      run: sbt scalafmtCheckAll
